html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 1.6rem; /** 1 rem = 10 px **/
    background-color: bisque;
    margin: 80px;
    border-color: darkblue;
}

.title{
    color: red;
    font-size: 50px;
    text-decoration: underline;
}

