html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 1.6rem; /** 1 rem = 10 px **/
}

img{
    max-width: 100%;
}

.container{
    width: 120rem;
    margin: 0 auto;
}

.navbar{
    display: flex;
    color: #3DBDDB;
    background-color: red;
}

.navbar a {
    flex-basis: 5%;

}

.nav-items{
    display: flex;

}

.nav-items li{
    margin-left: 10rem;
    font-size: 3rem;
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    color: #2000DB;
}

.background-image{
    background-image: url("../img/background.jpg");
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items:stretch;
}

.background-image h1{
    color: white;
    margin: o 10rem;
}

.card{
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    height: 25rem;
}